<ion-header>
  <ion-navbar>
    <ion-title>
      Newz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>


  <ion-item>
    <ion-label color="primary"></ion-label>
    <ion-input placeholder="Text Input" [(ngModel)]="searchTerm"></ion-input>
  </ion-item>
  <button ion-button round (click)="getNews()">Search</button>
  <button ion-button round (click)="getNews()">Headlines</button>
  <ion-select [(ngModel)]="selectedValue" (ionChange)="changeCountry($event)">
    <ion-option *ngFor="let country of countries" [value]="country.value">{{country.name}}</ion-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let article of articles; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h2>{{article.title}}</h2>
      <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      <div *ngIf="isGroupShown(i)">
        <ion-img  width="80" height="80"  src="{{article.urlToImage}}"  ></ion-img>
        {{article.description}}
        <p>source: {{article.source.name}}</p>
        <a href="{{article.url}}">Link</a>
      </div>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ion-infinite)="getMoreHeadlines()" immediate-check="true"
                       distance="10%">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
